.fade-enter-active,
.fade-leave-active {
  transition: all .5s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  @apply absolute opacity-0;
}

.simple-fade-enter-active,
.simple-fade-leave-active {
  transition: all 12.5s ease-out;
}

.simple-fade-enter-from,
.simple-fade-leave-to {
  @apply absolute opacity-0;
}

.thumb-enter-active,
.thumb-leave-active {
  transition: all .5s ease-out;
}

.thumb-enter-from {
 @apply absolute opacity-100 scale-90 origin-center;
}

.thumb-leave-to {
 @apply absolute opacity-100 scale-110 origin-center;
}

.default-transition {
  @apply duration-500 ease-in-out transition-all will-change-auto;
}